<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.logistics.mapper.OtherTxnCategoryMapper">

  <!-- ✅ 조회 -->
  <select id="getList" parameterType="string" resultType="org.logistics.model.OtherTxnCategory">
    SELECT
        TXN_CODE       AS txnCode,
        BU_ID          AS buId,
        TXN_TYPE       AS txnType,
        CATEGORY_NAME  AS categoryName,
        SORT_ORDER     AS sortOrder,
        USE_YN         AS useYn,
        ACCOUNT_SUBJECT AS accountSubject,
        COST_TYPE       AS costType,
        IS_FINISHED_PRODUCT AS isFinishedProduct,
        IS_MATERIAL        AS isMaterial,
        IS_SALES_USE       AS isSalesUse,
        ADJUST_OUT         AS adjustOut,
        ADJUST_IN          AS adjustIn,
        IS_VAT_TARGET      AS isVatTarget,
        VAT_PROCESS_TYPE   AS vatProcessType,
        IS_AS              AS isAs,
        IS_ITEM_JOURNAL    AS isItemJournal,
        IS_BYPRODUCT_IN    AS isByproductIn,
        IS_RETURN_IN       AS isReturnIn,
        IS_MOVE            AS isMove,
        IS_TRANSFER        AS isTransfer,
        IS_AS_OUT          AS isAsOut,
        IS_AS_RETURN       AS isAsReturn,
        IS_FREE_SUPPLY     AS isFreeSupply,
        IS_DISPATCH_TARGET AS isDispatchTarget,
        DESCRIPTION        AS description,
        CREATED_AT         AS createdAt
    FROM other_txn_category
    WHERE txn_type = #{txnType}
    ORDER BY sort_order
  </select>

  <!-- ✅ 등록 -->
 <!-- ✅ 등록 -->
<insert id="insert" parameterType="org.logistics.model.OtherTxnCategory">
  INSERT INTO other_txn_category
  (txn_code, bu_id, txn_type, category_name, sort_order, use_yn,
   account_subject, cost_type, is_finished_product, is_material,
   is_sales_use, adjust_out, adjust_in, is_vat_target, vat_process_type,
   is_as, is_item_journal, is_byproduct_in, is_return_in,
   is_move, is_transfer, is_as_out, is_as_return,
   is_free_supply, is_dispatch_target, description, created_at)
  VALUES
  (#{txnCode,jdbcType=VARCHAR},
   #{buId,jdbcType=NUMERIC},
   #{txnType,jdbcType=VARCHAR},
   #{categoryName,jdbcType=VARCHAR},
   #{sortOrder,jdbcType=INTEGER},
   #{useYn,jdbcType=VARCHAR},
   #{accountSubject,jdbcType=VARCHAR},
   #{costType,jdbcType=VARCHAR},
   #{isFinishedProduct,jdbcType=VARCHAR},
   #{isMaterial,jdbcType=VARCHAR},
   #{isSalesUse,jdbcType=VARCHAR},
   #{adjustOut,jdbcType=VARCHAR},
   #{adjustIn,jdbcType=VARCHAR},
   #{isVatTarget,jdbcType=VARCHAR},
   #{vatProcessType,jdbcType=VARCHAR},
   #{isAs,jdbcType=VARCHAR},
   #{isItemJournal,jdbcType=VARCHAR},
   #{isByproductIn,jdbcType=VARCHAR},
   #{isReturnIn,jdbcType=VARCHAR},
   #{isMove,jdbcType=VARCHAR},
   #{isTransfer,jdbcType=VARCHAR},
   #{isAsOut,jdbcType=VARCHAR},
   #{isAsReturn,jdbcType=VARCHAR},
   #{isFreeSupply,jdbcType=VARCHAR},
   #{isDispatchTarget,jdbcType=VARCHAR},
   #{description,jdbcType=VARCHAR},
   SYSDATE)
</insert>

<!-- ✅ 수정 -->
<update id="update" parameterType="org.logistics.model.OtherTxnCategory">
  UPDATE other_txn_category
  SET category_name       = #{categoryName,jdbcType=VARCHAR},
      sort_order          = #{sortOrder,jdbcType=INTEGER},
      use_yn              = #{useYn,jdbcType=VARCHAR},
      account_subject     = #{accountSubject,jdbcType=VARCHAR},
      cost_type           = #{costType,jdbcType=VARCHAR},
      is_finished_product = #{isFinishedProduct,jdbcType=VARCHAR},
      is_material         = #{isMaterial,jdbcType=VARCHAR},
      is_sales_use        = #{isSalesUse,jdbcType=VARCHAR},
      adjust_out          = #{adjustOut,jdbcType=VARCHAR},
      adjust_in           = #{adjustIn,jdbcType=VARCHAR},
      is_vat_target       = #{isVatTarget,jdbcType=VARCHAR},
      vat_process_type    = #{vatProcessType,jdbcType=VARCHAR},
      is_as               = #{isAs,jdbcType=VARCHAR},
      is_item_journal     = #{isItemJournal,jdbcType=VARCHAR},
      is_byproduct_in     = #{isByproductIn,jdbcType=VARCHAR},
      is_return_in        = #{isReturnIn,jdbcType=VARCHAR},
      is_move             = #{isMove,jdbcType=VARCHAR},
      is_transfer         = #{isTransfer,jdbcType=VARCHAR},
      is_as_out           = #{isAsOut,jdbcType=VARCHAR},
      is_as_return        = #{isAsReturn,jdbcType=VARCHAR},
      is_free_supply      = #{isFreeSupply,jdbcType=VARCHAR},
      is_dispatch_target  = #{isDispatchTarget,jdbcType=VARCHAR},
      description         = #{description,jdbcType=VARCHAR}
  WHERE txn_code = #{txnCode,jdbcType=VARCHAR}
    AND bu_id    = #{buId,jdbcType=NUMERIC}
</update>


<!-- ✅ 하드 삭제 -->
<!-- ✅ 실제 삭제 (Hard Delete) -->
<delete id="delete" parameterType="map">
  DELETE FROM other_txn_category
  WHERE txn_code = #{txnCode}
    AND bu_id = #{buId}
</delete>

</mapper>
