<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.logistics.mapper.PopupMapper">

	<!-- 📦 품목 목록 -->
	<select id="item_List" resultType="org.logistics.domain.PopupVO">
		SELECT item_Id as column1
			 , item_name as column2
			 , spec as column3
			 , asset_class as column4
			 , small_category as column5
			 , base_unit as column6
			 , sales_unit as column7
			 , english_name as column8
			 , safety_stock_qty as column9
			 , (SELECT warehouse_name 
				  FROM warehouse_detail 
				 WHERE bu_id = a.bu_id 
				   AND warehouse_id = a.storage_location) as column10
			 , storage_location as column11
		FROM item_master a
		<where>
			<if test="gubun == 10">
				item_Id LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == 20">
				item_name LIKE '%' || #{text} || '%'
			</if>
		</where>
	</select>

	<!-- 👤 연락처 목록 -->
	<select id="contact_List" resultType="org.logistics.domain.PopupVO">
		SELECT contact_id as column1
			 , contact_name as column2
			 , department as column3
			 , phone as column4
			 , mobile as column5
			 , email as column6
		FROM contact
		<where>
			<if test="gubun == 10">
				contact_id LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == 20">
				contact_name LIKE '%' || #{text} || '%'
			</if>
		</where>
	</select>

	<!-- 💱 통화 목록 -->
	<select id="currency_List" resultType="org.logistics.domain.PopupVO">
		SELECT currency_code as column1
			 , exchange_rate as column2
		FROM currency_rate
		WHERE use_yn = 'Y'
		<where>
			<if test="gubun == 10">
				currency_code LIKE '%' || #{text} || '%'
			</if>
		</where>
	</select>

	<!-- 🚚 출고 ID 목록 -->
	<select id="out_Id_List" resultType="org.logistics.domain.PopupVO">
		SELECT out_id as column1
			 , bu_id as column2
			 , (SELECT bu_Name FROM business_unit WHERE bu_id = a.bu_Id) as column15
			 , TO_CHAR(out_date, 'yyyy-MM-dd') as column3
			 , local_flag as column4
			 , CASE 
				  WHEN local_flag = '10' THEN '내수' 
				  WHEN local_flag = '20' THEN 'Local(후LC)' 
				  WHEN local_flag = '30' THEN 'Local(선LC)' 
			   END as column5
			 , party_id as column6
			 , (SELECT party_name FROM party WHERE bu_id = a.bu_id AND party_id = a.party_id) as column7
			 , contact_id as column8
			 , (SELECT contact_name FROM contact WHERE bu_id = a.bu_Id AND contact_id = a.contact_id) as column9
			 , (SELECT department FROM contact WHERE bu_id = a.bu_Id AND contact_id = a.contact_id) as column10
			 , out_type as column11
			 , CASE 
				  WHEN out_type = '10' THEN '수주' 
				  WHEN out_type = '20' THEN '적송요청' 
				  WHEN out_type = '30' THEN '위탁출고요청' 
				  WHEN out_type = '40' THEN '기타출고요청' 
			   END as column12
			 , consignment_gubun as column13
			 , CASE 
				  WHEN consignment_gubun = '10' THEN '일반' 
				  WHEN consignment_gubun = '20' THEN '위탁' 
				  WHEN consignment_gubun = '30' THEN '판매후보관' 
			   END as column14
			 , out_complete as column16
			 , created_at
		FROM out_master a
		<where>
			<if test="gubun == 10">
				bu_Id LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == 20">
				out_Id LIKE '%' || #{text} || '%'
			</if>
		</where>
	</select>

	<!-- 🏢 거래처 목록 -->
	<select id="party_List" resultType="org.logistics.domain.PopupVO">
		SELECT bu_Id as column1
			 , (SELECT bu_Name FROM business_unit WHERE bu_id = a.bu_Id) as column2
			 , party_Id as column3
			 , party_Name as column4
			 , party_type as column5
			 , CASE 
				  WHEN party_type = '10' THEN '납품'
				  WHEN party_type = '20' THEN '영업'
				  WHEN party_type = '30' THEN '거래처'
				  WHEN party_type = '40' THEN '공급바'
			   END as column6
			 , business_registration_no as column7
			 , trade_name as column8
			 , short_name as column9
			 , address as column10
			 , phone as column11
			 , email as column12
		FROM party a
		<where>
			<if test="gubun == 10">
				bu_Id LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == 20">
				party_name LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == 30">
				party_Id LIKE '%' || #{text} || '%'
			</if>
		</where>
	</select>

	<!-- 📂 카테고리 대분류 -->
	<select id="category_List_Big" resultType="org.logistics.domain.PopupVO">
		SELECT DISTINCT big_category as column2
		FROM item_master
		<where>
			<if test="gubun == 10">
				big_category LIKE '%' || #{text} || '%'
			</if>
		</where>
	</select>

	<!-- 📂 카테고리 중분류 -->
	<select id="category_List_Mid" resultType="org.logistics.domain.PopupVO">
		SELECT DISTINCT big_category as column2
			 , mid_category as column3
		FROM item_master
		<where>
			<if test="gubun == 10">
				mid_category LIKE '%' || #{text} || '%'
			</if>
		</where>
	</select>

	<!-- 📂 카테고리 소분류 -->
	<select id="category_List_Small" resultType="org.logistics.domain.PopupVO">
		SELECT DISTINCT big_category as column2
			 , mid_category as column3
			 , small_category as column4
		FROM item_master
		<where>
			<if test="gubun == 10">
				small_category LIKE '%' || #{text} || '%'
			</if>
		</where>
	</select>

	<!-- 📦 품명 리스트 -->
	<select id="itemname_List" resultType="org.logistics.domain.PopupVO">
		SELECT item_id as column1
			 , spec as column2
			 , item_name as column3
			 , asset_class as column4
			 , small_category as column5
			 , base_unit as column6
			 , english_name as column7
		FROM item_master
		<where>
			<if test="gubun == 10">
				item_name LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == 20">
				item_id LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == 30">
				spec LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == 40">
				english_name LIKE '%' || #{text} || '%'
			</if>
		</where>
	</select>

	<!-- 🏭 창고 목록 -->
	<select id="warehousecode_List" resultType="org.logistics.domain.PopupVO">
		SELECT DISTINCT warehouse_internal_code AS column1
			 , warehouse_internal_code AS column2
		FROM warehouse_master
		<where>
			<if test="gubun == '10'">
				warehouse_internal_code LIKE '%' || #{text} || '%'
			</if>
		</where>
	</select>

	<select id="warehouse_List" resultType="org.logistics.domain.PopupVO">
		SELECT wd.warehouse_name AS column1
			 , TO_CHAR(wm.warehouse_master_id) AS column2
			 , bu.bu_name AS column3
			 , TO_CHAR(wm.warehouse_internal_code) AS column4
		FROM warehouse_detail wd
		JOIN business_unit bu ON wd.bu_id = bu.bu_id
		JOIN warehouse_master wm 
		     ON wd.warehouse_master_id = wm.warehouse_master_id
		    AND wd.bu_id = wm.bu_id
		<where>
			<if test="gubun != null and text != null and text != ''">
				AND (
					<if test="gubun == '10' or gubun == '0'">
						wd.warehouse_name LIKE '%' || #{text} || '%'
					</if>
					<if test="gubun == '20' or gubun == '0'">
						<if test="gubun == '0'">OR</if>
						<if test="gubun == '20'">
							wm.warehouse_master_id = #{text}
						</if>
						<if test="gubun == '0'">
							TO_CHAR(wm.warehouse_master_id) LIKE '%' || #{text} || '%'
						</if>								
					</if>
					<if test="gubun == '30' or gubun == '0'">
						<if test="gubun == '0'">OR</if>
						bu.bu_name LIKE '%' || #{text} || '%'
					</if>
				)
			</if>
		</where>
	</select>

	<!-- 📥 입고 목록 -->
	<select id="inboundMaster_List" resultType="org.logistics.domain.PopupVO">
		SELECT ib.inbound_id AS column1,
			   bu.bu_name AS column2,
			   TO_CHAR(ib.inbound_date, 'YYYY-MM-DD') AS column3,
			   ib.local_flag AS column4,
			   p.party_name AS column5,
			   c.contact_name AS column6,
			   ib.inbound_type AS column7,
			   ib.inbound_complete AS column8,
			   TO_CHAR(ib.created_at, 'YYYY-MM-DD') AS column9,
			   p.party_id AS column10,
			   c.department AS column11,
			   bu.bu_id AS column12
		FROM inbound_master ib
		JOIN business_unit bu ON ib.bu_id = bu.bu_id
		JOIN party p ON ib.party_id = p.party_id
		JOIN contact c ON ib.contact_id = c.contact_id
		<where>
			<if test="gubun == '10'">
				ib.inbound_id LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == '20'">
				bu.bu_name LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == '30'">
				TO_CHAR(ib.inbound_date, 'YYYY-MM-DD') LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == '40'">
				ib.local_flag LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == '50'">
				p.party_name LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == '60'">
				c.contact_name LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == '70'">
				ib.inbound_type LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == '80'">
				ib.inbound_complete LIKE '%' || #{text} || '%'
			</if>
			<if test="gubun == '90'">
				TO_CHAR(ib.created_at, 'YYYY-MM-DD') LIKE '%' || #{text} || '%'
			</if>
		</where>
	</select>

</mapper>
